body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #040204;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;

	font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.container {
    text-align: center;
}

.gif {
    width: 400px;
}

.question {
    font-size: 30px;
	font-family: 'Comic Sans MS', 'Comic Sans', cursive;
	color: white;
}

.choices {
    margin-top: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
	background-color: #FFC266;
	border: none;
	border-radius: 8px;
	font-family: 'Comic Sans MS', 'Comic Sans', cursive;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #FF0000;
}

/* игорь */

.photo {
    max-width: 200px;
}

.large-font {
    font-size: xx-large;
    color: aliceblue;
} 
.wrapper{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}